#cloud-config
users:
  - name: ansible
    gecos: Ansible User
    lock_passwd: false
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - "${gen_key}"

package_update: true
package_upgrade: true

